<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [41]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [42]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [43]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [44]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [45]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [6]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [46]:
# your code goes here
duplicate_rows = df[df.duplicated()]
len(duplicate_rows)

154

How many duplicate values are there in the column Respondent?

In [47]:
duplicate_Respondent = df[df['Respondent'].duplicated()]
len(duplicate_Respondent)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [48]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [49]:
# your code goes here
duplicate_rows = df[df.duplicated()]
len(duplicate_rows)

0

After removing the duplicate rows, how many rows are there in the dataset?

In [50]:
df.shape

(11398, 85)

After removing the duplicate rows, how many unique rows are there in the column Respondent?

In [51]:
len(df['Respondent'].unique())

11398

## Finding Missing values

Find the missing values for all columns.

In [52]:
# your code goes here
import numpy as np
missing_value = df.isnull()
print(missing_value)

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11547       False       False     False        False       False       False
11548       False       False     False        False       False       False
11549       False       False     False        False       False       False
11550       False       False     False        False       False       False
11551       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11547    False    False    False           False  ...          False
11548    False    False    False           False  ...          False
11549    False    False    False           False  ...          False
11550    False    False    False            True  ...          False
11551    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11547         False  False   False  False      False      False       False
11548         False  False   False  False      False      False       False
11549         False  False   False  False      False      False       False
11550          True  False   False  False      False      False       False
11551         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11547         False       False
11548         False       False
11549         False       False
11550         False       False
11551         False       False

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [53]:
# your code goes here
print('WorkLoc')
missing_WorkLoc = missing_value['WorkLoc'].value_counts()
missing_WorkLoc

WorkLoc

False    11366
True        32
Name: WorkLoc, dtype: int64

After removing the duplicate rows, how many blank rows are there under the column EdLevel?

In [54]:
print('EdLevel')
missing_EdLevel = missing_value['EdLevel'].value_counts()
missing_EdLevel

EdLevel

False    11286
True       112
Name: EdLevel, dtype: int64

After removing the duplicate rows, how many rows are missing under the column Country?

In [55]:
print('Country')
missing_Country = missing_value['Country'].value_counts()
missing_Country

Country

False    11398
Name: Country, dtype: int64

To identify missing row in other columns

In [56]:
for col in missing_value.columns.values.tolist():
    print(col)
    print(missing_value[col].value_counts())
    print('')

Respondent
False    11398
Name: Respondent, dtype: int64

MainBranch
False    11398
Name: MainBranch, dtype: int64

Hobbyist
False    11398
Name: Hobbyist, dtype: int64

OpenSourcer
False    11398
Name: OpenSourcer, dtype: int64

OpenSource
False    11317
True        81
Name: OpenSource, dtype: int64

Employment
False    11398
Name: Employment, dtype: int64

Country
False    11398
Name: Country, dtype: int64

Student
False    11347
True        51
Name: Student, dtype: int64

EdLevel
False    11286
True       112
Name: EdLevel, dtype: int64

UndergradMajor
False    10661
True       737
Name: UndergradMajor, dtype: int64

EduOther
False    11234
True       164
Name: EduOther, dtype: int64

OrgSize
False    11302
True        96
Name: OrgSize, dtype: int64

DevType
False    11333
True        65
Name: DevType, dtype: int64

YearsCode
False    11389
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11385
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11382
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11398
Name: CareerSat, dtype: int64

JobSat
False    11397
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    10905
True       493
Name: MgrIdiot, dtype: int64

MgrMoney
False    10901
True       497
Name: MgrMoney, dtype: int64

MgrWant
False    10905
True       493
Name: MgrWant, dtype: int64

JobSeek
False    11398
Name: JobSeek, dtype: int64

LastHireDate
False    11398
Name: LastHireDate, dtype: int64

LastInt
False    10985
True       413
Name: LastInt, dtype: int64

FizzBuzz
False    11361
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11395
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11359
True        39
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11398
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11398
Name: CurrencyDesc, dtype: int64

CompTotal
False    10589
True       809
Name: CompTotal, dtype: int64

CompFreq
False    11192
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11277
True       121
Name: WorkPlan, dtype: int64

WorkChallenge
False    11234
True       164
Name: WorkChallenge, dtype: int64

WorkRemote
False    11390
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11366
True        32
Name: WorkLoc, dtype: int64

ImpSyn
False    11393
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11397
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: CodeRevHrs, dtype: int64

UnitTests
False    11369
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11202
True       196
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11360
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11369
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11364
True        34
Name: OpSys, dtype: int64

Containers
False    11316
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8788
True     2610
Name: BlockchainIs, dtype: int64

BetterLife
False    11300
True        98
Name: BetterLife, dtype: int64

ITperson
False    11363
True        35
Name: ITperson, dtype: int64

OffOn
False    11360
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11105
True       293
Name: SocialMedia, dtype: int64

Extraversion
False    11378
True        20
Name: Extraversion, dtype: int64

ScreenName
False    10891
True       507
Name: ScreenName, dtype: int64

SOVisit1st
False    11073
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11393
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11397
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11395
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11348
True        50
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11397
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10270
True      1128
Name: SOPartFreq, dtype: int64

SOJobs
False    11392
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11393
True         5
Name: EntTeams, dtype: int64

SOComm
False    11398
Name: SOComm, dtype: int64

WelcomeChange
False    11313
True        85
Name: WelcomeChange, dtype: int64

SONewContent
False    9433
True     1965
Name: SONewContent, dtype: int64

Age
False    11111
True       287
Name: Age, dtype: int64

Gender
False    11325
True        73
Name: Gender, dtype: int64

Trans
False    11275
True       123
Name: Trans, dtype: int64

Sexuality
False    10856
True       542
Name: Sexuality, dtype: int64

Ethnicity
False    10723
True       675
Name: Ethnicity, dtype: int64

Dependents
False    11258
True       140
Name: Dependents, dtype: int64

SurveyLength
False    11379
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11384
True        14
Name: SurveyEase, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [57]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
#Office                                            6806
#Home                                              3589
#Other place, such as a coworking space or cafe     971

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [58]:
# your code goes here
df['WorkLoc'] = df['WorkLoc'].replace(np.nan, 'Office')

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [59]:
# your code goes here
missing_value = df.isnull()
missing_WorkLoc = missing_value['WorkLoc'].value_counts()
print(missing_WorkLoc, '\n')

print(df['WorkLoc'].value_counts())

False    11398
Name: WorkLoc, dtype: int64

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

What is the majority category under the column Employment?

In [60]:
df['Employment'].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

Under the column " UndergradMajor", which category has the minimum number of rows?

In [61]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

The column ‘ConvertedComp’ contains the annual compensation of the survey respondents. What is the best approach to impute the missing values in this column?

In [62]:
print('ConvertedComp')
missing_ConvertedComp = missing_value['ConvertedComp'].value_counts()
print(missing_ConvertedComp, '\n')

print(df['ConvertedComp'].value_counts())
print(df['ConvertedComp'].describe())

print('\nBecause the max or min number is not the majority of column value and the missing values are 7.7% of total respondent, it is safe to choose median to fill in the missing value in this column')
print('Here is the consideration:')
print('  1.Median is the "middle" value, making it less affected by extreme responses compared to the mean')
print('  2.If the data distribution is skewed, the median reflects the value that separates the "middle half" of the data, offering a more reliable central tendency measurement.')

ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64
count    1.058200e+04
mean     1.315967e+05
std      2.947865e+05
min      0.000000e+00
25%      2.686800e+04
50%      5.774500e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

Because the max or min number is not the majority of column value and the missing values are 7.7% of total respondent, it is safe to choose median to fill in the missing value in this column
Here is the consideration:
  1.Median is the "middle" value, making it less affected by extreme responses compared to the mean
  2.If the data distribution is skewed, the median reflects the value that separates the "middle half" of the data, offering a more reliable central tendency measurement.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [63]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [64]:
# your code goes here
normalized = []

for i in range(len(df)):
    if df['CompFreq'].iloc[i] == 'Weekly':
        normalized.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] == 'Monthly':
        normalized.append(df['CompTotal'].iloc[i]*12)
    else:
        normalized.append(df['CompTotal'].iloc[i]*1)


df['NormalizedAnnualCompensation'] = normalized
df['NormalizedAnnualCompensation'].head()

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormalizedAnnualCompensation, dtype: float64

What is the median NormalizedAnnualCompensation?

In [65]:
df['NormalizedAnnualCompensation'].describe()

count    1.058900e+04
mean     6.133295e+06
std      9.838157e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).